<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eGovCinema</title>
    <link href="/static/css/ticket.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <style>
        html, body {
            background-color: #fff;
            color: #636b6f;
            font-family: 'Nunito', sans-serif;
            font-weight: 200;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <h2 class="ml-3">Ticket distribution</h2>
    <ve-pie :data="ticketDistribution" :toolbox="toolboxSave"></ve-pie>
    <hr>

    <h2 class="text-center">User distribution</h2>
    <ve-ring :data="userDistribution" :toolbox="toolboxSave"></ve-ring>
    <hr>

    <h2 class="text-center">Location distribution</h2>
    <ve-histogram :data="locationDistribution" :toolbox="toolboxConvertAndSave"></ve-histogram>
    <hr>

    <h2 class="text-center">Movie distribution</h2>
    <ve-bar :data="movieDistribution" :toolbox="toolboxConvertAndSave"></ve-bar>
    <hr>
</div>
</body>

<script src="/static/js/jquery-3.2.1.slim.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: function () {
            return {
                ticketDistribution: {
                    columns: ['type', 'count'],
                    rows: [
                        {'type': 'Student', 'count': 0},
                        {'type': 'Adult', 'count': 0},
                    ]
                },
                locationDistribution: {
                    columns: ['location', 'count'],
                    rows: [
                        {'location': 'R1 C6', 'count': 0},
                    ]
                },
                userDistribution: {
                    columns: ['user', 'count'],
                    rows: [
                        {'user': 'Cosmin', 'count': 0},
                    ]
                },
                movieDistribution: {
                    columns: ['movie', 'count'],
                    rows: [
                        {'movie': 'Coboram la prima', 'count': 0},
                    ]
                },
                toolboxConvertAndSave: {
                    feature: {
                        magicType: {
                            type: ['line', 'bar'],
                            title: {
                                line: 'Convert to line',
                                bar: 'Convert to bar',
                            }
                        },
                        saveAsImage: {
                            title: 'Save'
                        }
                    }
                },
                toolboxSave: {
                    feature: {
                        saveAsImage: {
                            title: 'Save'
                        }
                    }
                }
            }
        },
        created() {
            this.getData()
        },
        methods: {
            getData() {
                axios.get('/get-stats').then((response) => {
                    console.log(response)
                    this.ticketDistribution.rows[0].count = response.data.ticket_type_distribution.student
                    this.ticketDistribution.rows[1].count = response.data.ticket_type_distribution.adult

                    this.locationDistribution.rows = []
                    for (let location of response.data.location_distribution) {
                        this.locationDistribution.rows.push({
                            location: 'C' + location.col + ' R' + location.row,
                            count: location.count,
                        })
                    }

                    this.movieDistribution.rows = []
                    for (let movie of response.data.movies_distribution) {
                        this.movieDistribution.rows.push({
                            movie: movie.name,
                            count: movie.count,
                        })
                    }

                    this.userDistribution.rows = []
                    for (let user of response.data.users_distribution) {
                        this.userDistribution.rows.push({
                            user: user.name,
                            count: user.count,
                        })
                    }
                })
            }
        }
    });
</script>
</html>
</html>